
@media (max-width: 767px){
		/* For mobile phones: */
	[class*="col-"] {
			max-width: 100%;
			flex: none;
	}

	header{
		height: 45px;
		margin-top: -20px;
	}

	.startBootstrap{
		font-size: 20px;
		text-align: left;
	}

	header li{
		visibility: hidden;
	}

	header .startBootstrap .fa-bars{
		visibility: visible;
		margin-left: 50%;
	}

	.home h1{
		font-size: 30px;
	}
	
	.home{
		height: 170px;
		background-position: 0;
	}
	
	article{
		margin:0;
	}
	
	article:last-child{
		margin: 20px;
	}
}
