body{
	margin: 0 auto;
	font-family: sans-serif;
}

header{
	background-color: #6ee1b5;
	color: #FFF;
	font-weight: 600;
	padding: 10px;
}

/*menu*/

header li{
	list-style: none;
	display: inline-block;
	padding: 0 10px;
}

/*icono menu*/
header .startBootstrap .fa-bars{
	visibility: hidden;
	text-align: right;
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	padding: 2px 4px;
}

/*texto start Bootstrap*/
.startBootstrap{
	text-align: center;
}

/*background banner*/
.home{
	margin-top:0;
	background-image: url(../images/banner_osoaparatoso_primavera.jpg);
	background-size: cover;
	background-position: 0 -50px;
	background-repeat: no-repeat;
	height: 500px;
}

/*titulo tienda*/
.home h1{
	text-align: center;
	font-size: 5em;
	color: #C9A750;
	margin: -5px;	
	font-family: 'Kalam', cursive;
}

/*que hacemos- contacto- productos*/
article{
	margin-left: 10%;
	color: #636363;
}

article h3{
	font-weight: 300;
	font-size: 2em;
	color: #333333;
}

/*botones*/
.action, .more{
	border: none;
	background-color: #FEC8D4;
	padding: 12px;
	border-radius: 5px;
	font-size: 0.9em;
	font-weight: 600;
	color: #494949;
}

.more{
	margin: 10px;
}

/*contacto*/
.contact{
	margin-left: 5%;
}

.contact p:first-child{
	font-weight: 600;
}

/*productos*/
.products img{
	width: 100%;
	border-radius: 8px 8px 0 0;
}

.products{
	margin: 5% 6% 5% 0;
	border: 1px solid #c6c6c6;
	border-radius: 8px;
}

.products p{
	border-bottom: 1px solid #c6c6c6;
	margin: 0;
}

.products h3{
	margin: 0;
}

.products h3, .products p{
	padding: 10px;
}

/*copyright*/
footer{
	background-color: #6ee1b5;
	color: #FFF;
	font-weight: 600;
	text-align: center;
	padding: 10px;
}